@use '../../../styles/colors.scss' as *;
@use '../../../styles/typography.scss' as *;

.footer-wrapper {
  display: flex;
  padding: 1rem;
  background-color: rgba($primary-dark, 0.8);
  color: $text-muted;
  justify-content: space-between;
  padding: 4rem;
  border-top: 2px solid $border-line;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    font-size: $mobile-font-size;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }

  .container-info {
    padding-bottom: 1rem;
  }

  .footer-links-container {
    display: flex;
    gap: 1rem;
  }

  .container {
    .social-links {
      display: flex;
      padding-top: 0.75rem;
      gap: 1rem;

      .brand-icon {
        color: $text-muted;
        border: 1px solid $border-line;
        border-radius: 50%;
        padding: 0.5rem;
        transition:
          color 0.3s,
          border-color 0.3s;

        &:hover {
          color: $hover-glow;
          border-color: $hover-glow;
        }
      }
    }
  }

  p {
    margin: 0;
  }

  img {
    margin-bottom: 0.5rem;
  }
}

.logo-container {
  position: relative;
  max-width: 20rem;
  height: 100%;
}
