<footer class="footer-wrapper">
  <div class="container container-grid footer-links-container">
    <div>
      <p class="footer-header">Social Media Links:</p>
      <div class="social-links">
        @for (link of iconLinks; track link.to) {
          <a [href]="link.to" [title]="link.label" target="_blank" rel="noopener">
            <mat-icon [svgIcon]="link.icon" class="brand-icon"></mat-icon>
          </a>
        }
      </div>
    </div>
    <div>
      <p class="footer-header">Partners Links:</p>
    </div>
  </div>

  <div>
    <p class="footer-header container-info">FFG Contact Information</p>
    <p>Email: <em>officialfarfromgrace@gmail.com</em></p>
  </div>

  <div class="container container-grid">
    <p>Modern Deathcore / Modern Metal</p>
    <p>Wrocław, Lower Silesia Poland</p>
  </div>
</footer>
