// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './app/styles/colors.scss' as *;
@use './app/styles/animations.scss' as *;
@use './app/styles/typography.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* You can add global styles to this file, and also import other style files */

:host {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

html {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('assets/images/band.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $primary-dark;
  color: $text-muted;

  body {
    margin: 0;
    width: 100%;
  }
}

.container {
  display: flex;

  &-grid {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }
}

.padding {
  padding: 1rem;
}
